<!DOCTYPE html>
<html lang="es">

<head>
    <title>Copal</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/registrationForm.css">
</head>


<body>

    <main>
        {% include 'registrationform' categories:categories, parnerTypes:parnerTypes %}
        {% include 'Button' id:'showForm', class:'secondary', source:'./img/add__icon.svg', text:'Crear' %}

    </main>

</body>
<script src="../js/form.js"></script>

</html>