<aside class="menu__general_container">
  <nav class="menu">
    <div class="menu__container">
      <a class="menu__logo" href="/">
        <img src="/images/menu__logo.svg" alt="Logo de copal"/>
      </a>
    </div>
    <div class="menu__container">
      <p class="menu__user">
        Hello,
        <span>YOU</span>
      </p>
    </div>
    <ul class="menu__options">
      <li>
        <a href="/socios">Socios</a>
      </li>
      <li>
        <a href="/">Otro</a>
      </li>
    </ul>
  </nav>
</aside>