<form method="POST" action="/socios/{{ partner.id }}" class="expanded_inputs">
    {% render "form_field", label: "Nombre", name: "nombre", value: partner.name %}
    {% render "form_field", label: "Dirección", name: "direccion", value: partner.location.street, className: "direccion" %}
    {% render "form_field", label: "Correo Electrónico", name: "correo", value: partner.emails[0].email %}
    {% render "form_field", label: "Teléfono", name: "telefono", value: partner.phones[0].phoneNumber %}
    {% render "form_field", label: "Sitio Web", name: "sitioWeb", value: partner.websites[0].website %}
    {% render "form_field", label: "Membresía", name: "membresia", value: partner.memberships[0].name %}
    {% render "form_field", label: "Inicio de membresía", name: "fechaDeInicio", value: partner.memberships[0].monthDuration %}
    {% render "form_field", label: "Categorías", name: "categorias", value: partner.categories[0].name, className: "categoria" %}
    <input style="padding: 1em; width: fit-content;" type="submit" value="Enviar">
</form>