name: prueba
on:
  push:
    branches:
      - 'front/develop'
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
     - uses: actions/checkout@v4
     - name: Build and push dockerimage
       run: |
          COMMIT_HASH=$(git rev-parse HEAD)
          docker login ghcr.io -u federicoformoso --password ${{secrets.token}}
          docker build . --tag ghcr.io/federicoformoso/prueba_frontv1:$COMMIT_HASH
          docker push ghcr.io/federicoformoso/prueba_frontv1:$COMMIT_HASH
