name: prueba
on:
  push:
    branches:
      - 'main'
      - 'DokkuConexionBD'
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
     - uses: actions/checkout@v4
     - name: Build and push dockerimage
       run: |
          docker login ghcr.io -u federicoformoso --password ${{secrets.token}}
          docker build . --tag ghcr.io/federicoformoso/prueba_back_v3:latest
          docker push ghcr.io/federicoformoso/prueba_back_v3:latest
